html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
 
#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll; /* toggle to scroll for scrollbar on y-axis */
    overflow-x: hidden;
    z-index: 0;
    background-color: #F3F8F2;
}

#mask {
    width: 500%; /*Five pages times 100% */
    height: 100%;
}
 
.item {
    width: 20%; /*Five pages*/
    height: 100%;
    float: left; /* Allows for horizontal slide */
/*    background-color: #F3F8F2;*/
    color: #E85A4F;
    text-align: center;
    
}
 
.page-content {
    color: black;
    font-size: 10px;
    top: 20%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
}

.red-text {
    color: #E85A4F;
    font-size: 30px;
    display: inline;
}

.red-text a{
    color: #E85A4F;
    text-decoration: none;
}

.brown-text {
    color: #D8C3A5;
    font-size: 40px;
    display: inline;
}

.brown-text a{
    color: #D8C3A5;
    text-decoration: none;
}
/* HOME PAGE START */
#home-page {
    font-family: Raleway, sans-serif;
    top: 20%;
}

#title {
    z-index: 3;
    position: relative;
    width: 100%;
}

#name {
    font-size: 100px;
    color: #E85A4F;
}

#subtitle {
    font-size: 30px;
    color: #8e8d8a;
}

#title-text {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    top: 75%;
}

/* ABOUT PAGE */
#about-page{
    font-size: 20px;
    font-family: Raleway, sans-serif;
    color: #8e8d8a;
    top: 20%;
}
#cover {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 900px;
    top: 75%;
}

#picture {
    left: 15%;
    position: relative;
}

#cover-text{
    text-align: right;
    right: 15%;
    position: relative;
}

#cover-bio{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 900px;
    top: 300px;
    text-align: center;
}

#left-cover-bio {
    float: left;
    text-align: left;
    font-size: 25px;
    left: 15%;
    position: relative;
}

#right-cover-bio {
    float: right;
    text-align: left;
    font-size: 45px;
    bottom: 10px;
    right: 13%;
    position: relative;
    text-align: justify;
}

#cover-ending {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 650px;
    top: 525px;
    text-align: center;
    
}

.clear {
    clear: both;
}
 
/* NAVIGATION BAR */
#navigation {
    margin: 0 auto;
    width:100%;
    height:55px;
    position: relative;
    padding-top: 3vh;
    z-index: 1; /* For static navigation bar */
    font-family: Raleway, sans-serif;
    text-align: center;
    background-color: #F3F8F2;
}
 
#navigation a{
    color: #8e8d8a;
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    font-size: 20px;
    transition: .5s;
}
 
#navigation .selected {
    color: #E85A4F;
    transition: .75s;
}
 
#navigation a:hover {
/*    color:#E98074;*/
    color:#D8C3A5;
    transition: 0.5s;
}

/* MEDIA QUERIES */

@media (max-width: 701px){
    .page-content {
        font-size: 20px;
        width: 100%;
    }
    
    #home-page {
        font-family: Raleway, sans-serif;
        top: 15%;
    }

    #title {
        color: #E85A4F;
        z-index: 3;
        top: 0%;
        left: 0%;
        position: relative;
    }
    #text-center {
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 100%;
        top: 90%;
    }
    #name {
        font-size: 45px;
    }

    #subtitle {
        font-size: 15px;
        color: #8e8d8a;
    }
    .red-text{
        font-size: 11px;
    }
    #about-page{
        font-size: 8px;
        font-family: Raleway, sans-serif;
        color: #8e8d8a;
        top: 20%;
        width: 100%;
    }
    #cover {
        position: absolute;
        text-align: center;
        width: 400px
    }

    #picture {
        text-align: center;
/*        right: 36%;*/
        position: absolute;
    }

    #cover-text{
        position: absolute;
        left: 70px; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 60%;
        top: 35%;
        text-align: right;
    }
    #cover-bio{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 300px;
        top: 300px;
        text-align: center;
    }

    #left-cover-bio {
        float: left;
        text-align: left;
        font-size: 13px;
        left: 1%;
        position: relative;
    }

    #right-cover-bio {
        float: right;
        text-align: left;
        font-size: 53px;
        bottom: 109px;
        left:5%;
        position: relative;
        text-align: justify;
        line-height: 15px
    }

    #cover-ending {
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        font-size: 10px;
        width: 300px;
        top: 425px;
        text-align: center;

    }

    .brown-text {
        color: #D8C3A5;
        font-size: 20px;
        display: inline;
}
    #navigation a{
        font-size: 10px;
        margin: 10px;
    }
    #navigation {
        height: 30px;
        width:100%;
    }
}
