html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
 
#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll; /* toggle to scroll for scrollbar on y-axis */
    overflow-x: hidden;
    z-index: 0;
    background-color: #fffcfc;
}

#mask {
    width: 500%; /*Five pages times 100% */
    height: 100%;
}
 
.item {
    width: 20%; /*Five pages*/
    height: 100%;
    float: left; /* Allows for horizontal slide */
    color: #E85A4F;
    text-align: center;
    
}
 
.page-content {
    top: 20%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
}


/* HOME PAGE START */
#home-page {
    top: 150px;
}

#title {
    z-index: 3;
    position: relative;
    width: 100%;
}

#name {
    font-family: Raleway, sans-serif;
    font-size: 100px;
    color: #E85A4F;
}

#subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #313131;
}

#title-text {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 700px;
    top: 75%;
}

.social-media-buttons{
    position: relative;
    top: 75px;
    font-size: 14px;
}

.fa-social-media {
    padding: 8px;
    margin: 15px;
    font-size: 30px;
    width: 20px;
    height: 15px;
    text-decoration: none;
    border-radius: 50%;
    background: #E98074;
    color: #ffffff;
}

.fa-facebook:hover {
    background: #3B5998;
    transition: 0.5s;
}

.fa-twitter:hover {
    background: #55ACEE;
    transition: 0.5s;
}

.fa-github:hover {
    transition: 0.5s;
}

.fa-github-hover:hover {
    background: #6e5494;
}

.fa-instagram:hover {
    background: #bc2a8d;
    transition: 0.5s;
}

.fa-linkedin:hover {
    background: #0077b5;
    transition: 0.5s;
}


/* ABOUT PAGE */
#about-page{
    font-size: 20px;
    font-family: Poppins, sans-serif;
    color: #313131;
    top: 150px;
}

.red-text {
    color: #E85A4F;
    font-size: 32px;
    display: inline;
    font-family: Raleway, sans-serif;
}

.red-text a{
    color: #E85A4F;
    text-decoration: none;
}

#about-introduction {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 700px;
    height: 300px;
    top: 75%;
}

#about-introduction-picture {
    left: 0;
    position: relative;
}

#about-introduction-text{
    text-align: right;
    right: 0;
    bottom: 5px;
    position: relative;
}

#about-body {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 700px;
    top: 300px;

}

#about-body-text {
    text-align: justify;
    position: relative;
}

/*RESUME PAGE*/
#resume-page{
    font-size: 30px;
    font-family: Poppins, sans-serif;
    color: #313131;
    top: 120px;
    text-align: center;
}
#resume-page-pdf{
    text-decoration: none;
    font-size: 15px;
    color:#313131;
}

#resume-page-pdf a{
    color:#313131;
    text-decoration: none;
}

#resume-pdf a:hover {
    text-decoration: underline;
}

.resume-page-container {
    border: 1px solid;
    border-color: #efefef;
    background-color: #efefef;
    box-shadow: 2px 2px 10px 0px #888888;
    border-radius: 5px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
    clear: both;
    height: 120px;
    margin-bottom: 20px;
/*    border-bottom: 3px solid #efefef;*/
}

.resume-page-section {
    text-align: center;
    margin-top: 25px;
}

.resume-page-logo {
    float: left;
    margin: 10px;
    display: inline-block;
}

.resume-page-container-text {
    margin-top: 1px;
    text-align: left;
    display: inline-block;
    width: 380px;
}

.resume-page-font-25 {
    font-size: 25px;
}

.resume-page-font-20 {
    font-size: 20px;
}

.resume-page-font-15{
    font-size: 15px;
}

#fa-project-hover {
    font-size: 10px;
}
.resume-page-project-description {
    font-size: 10px;
    text-align: justify;
    margin: 10px;
}

.resume-page-project-icons a{
    text-decoration: None;
    color: #313131;
}
/*PORTFOLIO PAGE*/

#portfolio-page-title{
    font-size: 25px;
    font-family: Quicksand;
}
/*CONTACT PAGE*/

#contact-page-title{
    font-size: 50px;
    font-family: Poppins, sans-serif;
    color: #313131;
}

#contact-page-form {
    border: 1px solid;
    border-color: #efefef;
    background-color: #efefef;
    box-shadow: 2px 2px 10px 0px #888888;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
    height: 500px;
    text-align: left;
    padding: 10px;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    color: #313131;
}

#contact-page-email {
    font-size: 20px;
    font-family: Quicksand, san-serif;
    color: #313131;

}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

textarea:focus {
    border: 3px solid #E98074;
    outline: none;
    transition: .5s;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #E98074;
    outline: none;
    transition: .5s;
}

input[type=submit] {
    width: 100%;
    background-color: #E98074;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    transition: 0.5s;
    background-color: #E85A4F;
}

.clear {
    clear: both;
}
 
/* NAVIGATION BAR */
#navigation {
    margin: 0 auto;
    width:100%;
    height:55px;
    position: relative;
    padding-top: 3vh;
    z-index: 1; /* For static navigation bar */
    font-family: Poppins, sans-serif;
    text-align: center;
    background-color: #fffcfc;;
}
 
#navigation a{
    color: #8e8d8a;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    font-size: 25px;
    transition: .5s;
}
 
#navigation .selected {
    color: #E85A4F;
    transition: .75s;
}
 
#navigation a:hover {
    color:#E98074;
/*    color:#D8C3A5;*/
    transition: 0.5s;
}

/* MEDIA QUERIES */

@media (max-width: 701px){
   
}
